<script type="text/javascript">
    $(document).ready(function() {

        $("#submit").click(function(e) {
            e.preventDefault();

            var name = $("#name").val(),
                email = $("#email").val(),
                message = $("#message").val();

            $.ajax({
                type: "POST",
                url: 'https://jcbtf7kwo4.execute-api.eu-west-1.amazonaws.com/prod/',
                contentType: 'application/json',
                data: JSON.stringify({
                    'name': name,
                    'email': email,
                    'message': message
                }),
                success: function(res){
                    $('#form-response').text('Email was sent.');
                },
                error: function(){
                    $('#form-response').text('Error.');
                }
            });

        })

    });
</script>
<div class="container" id="contact">

    <div class="row">
        <div class="col-md-8">

            <section>

                {{ .Content }}

                {{ if isset .Site.Params "email" }}

                <div class="heading">
                  <h3>{{ i18n "contactForm" }}</h3>
                </div>

                <div id="contact-message"></div>

                 <form class="contact-form">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                              <label for="name">{{ i18n "contactName" }}</label>
                                <input type="text" class="form-control" name="name" id="name" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="email">{{ i18n "contactMail" }}</label>
                                <input type="email" class="form-control" id="email" required>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                              <label for="message">{{ i18n "contactMessage" }}</label>
                                <textarea id="message" class="form-control" name="message" required></textarea>
                            </div>
                        </div>

                        <div class="col-sm-12 text-center">
                          <input type="hidden" name="_language" value="{{ .Site.Language.Lang }}" />
                          <input type="text" name="_gotcha" style="display:none" />
                          <button id="submit" type="submit" class="btn btn-template-main"><i class="fa fa-envelope-o"></i>{{ i18n "contactSend" }}</button>

                        </div>
                    </div>
                </form>
                <div id="form-response"></div>

                {{ end }}

            </section>

        </div>

        <div class="col-md-4">

            {{ if isset .Site.Params "address" }}
            <section>

              <h3 class="text-uppercase"> {{ i18n "contactAddrTitle" }}</h3>

                {{ .Site.Params.address | safeHTML }}

            </section>

            {{ end }}

        </div>

    </div>
    <!-- /.row -->
</div>

